#registerFormDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;

    #registerForm{
        width: 500px;
        background-color:#dfdfdf1c;
        margin-right: 5em;
        padding:2em;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 10px #6060607f;
        
        #registerFormHeader{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            font-size: 3em;
            color: #000000;
            font-family: Georgia, serif;
        }

        #registerFormBody{
            display: flex;
            justify-content: center;
            align-items: center;
    }
}


}